__pycache__/
.env.example
.DS_Store
*_notes.txt
cosign.pub
http_ca.crt
.github/
.ipynb_checkpoints/
.pytest_cache/
.vscode/
cache/
dags/
database/backups
es_data_volume/
jupyter/
logs/
myenv/
plugins/
source/
w2v_models/
zzz/
