ES_TOGGLE=es

ES_USER=elastic
ES_PASSWORD=
ES_HOST=es01
ES_PORT=9200
ES_SCHEME=https

KB_HOST=kib01
KB_PASSWORD=
KB_PORT=5601

ES_STACK_VERSION=8.8.0
ES_CLUSTER_NAME=docker-cluster
ES_LICENSE=basic
ES_MEM_LIMIT=1073741824

PG_USER=
PG_PASSWORD=
PG_HOST=pg01
PG_PORT=5432
PG_DB_NAME=transcript_db

OPENSEARCH_INITIAL_ADMIN_PASSWORD=

OPENAI_API_KEY=

AIRFLOW_IMAGE_NAME=apache/airflow:2.10.2
AIRFLOW_VERSION=2.10.2
AIRFLOW_UID=50000
PYTHONPATH=./transcript-playground

JWT_SECRET_KEY=
JWT_ALGORITHM=
