__pycache__/
.ipynb_checkpoints/
.vscode/
app/animations/
app/data/
bertopic_config_tests/
bertopic_data/
bertopic_models/
cache/
data/*
database/backups/
es_data_volume/
generated_data/
jupyter/
logs/
myenv/
sentiment_data/
source/
static/animations/
static/wordclouds/
zzz/
*_notes.txt
.env
.env.bk
.DS_Store
http_ca.crt
