__pycache__/
.env
.env.bk
.DS_Store
.ipynb_checkpoints/
.vscode/
*_notes.txt
http_ca.crt
/app/animations
/app/data
/bertopic_config_tests
/bertopic_data
/bertopic_models
/cache
/data/*
/database/backups
/es_data_volume
/jupyter
/logs
/myenv
/sentiment_data
/source
/zzz
