aerich==0.7.2
asyncpg==0.28.0
bs4==0.0.1
elasticsearch==8.8.0
elasticsearch-dsl==8.9.0
fastapi==0.103.1 
gensim==4.3.2
http-exceptions==0.2.10
lxml==4.9.3
matplotlib==3.8.2
nltk==3.8.1
numpy==1.26.3
openai==1.6.1
pandas==2.2.0
pydantic==2.3.0
pydantic_core==2.6.3
pydantic-extra-types==2.1.0
pydantic-settings==2.0.3
python-multipart==0.0.6
requests==2.30.0
scikit-learn==1.4.0
tortoise-orm==0.20.0
uvicorn==0.23.2 
urllib3==1.26.15
