{% extends "base.html" %}

{% block title %} 
	<title>{{ tdata['show_key'] }}: {{ tdata['speaker'] }}</title>
{% endblock %} 

{% block content %} 
	<div class="margin">
        <h3><strong>{{ tdata['speaker'] }}</strong> character page</h3>
		<p>&nbsp;</p>

        <h3>Locations where {{ tdata['speaker'] }} appeared most frequently</h3>
		<table class="table table-hover table-striped table-fit">
			<thead>
				<tr class="table-primary">
					<th scope="col">Location</th>
                    <th scope="col">Scenes</th>
			  	</tr>
			</thead>
			<tbody>
				{% for location, count in tdata['location_counts'].items() %}
				<tr class="table-secondary">
					<th scope="row">{{ location }}</th>
					<td><a href="
                        {% if location == 'TOTAL' %}
                            /web/episode_search/{{ tdata['show_key'] }}?speaker={{ tdata['speaker'] }}&search_type=advanced
                        {% else %}
                            /web/episode_search/{{ tdata['show_key'] }}?speaker={{ tdata['speaker'] }}&location={{ location }}&search_type=advanced
                        {% endif %}
                            " class="alert-link" >{{ count }}</a>
                    </td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<p>&nbsp;</p>

		<h3>{{ tdata['speaker'] }}'s overlap with other characters</h3>
		<table class="table table-hover table-striped table-fit">
			<thead>
				<tr class="table-success">
					<th scope="col">Character</th>
					<th scope="col">Episodes</th>
					<th scope="col">Scenes</th>
			  	</tr>
			</thead>
			<tbody>
				{% for other_speaker_aggs in tdata['other_speaker_agg_composite'] %}
				<tr class="table-secondary">
					<th scope="row">{{ other_speaker_aggs['other_speaker'] }}</th>
                    <td><a href="/web/episode_search/{{ tdata['show_key'] }}?speakers={{ tdata['speaker'] }},{{ other_speaker_aggs['other_speaker'] }}&search_type=advanced_multi_speaker" 
                        class="alert-link" >{{ other_speaker_aggs['episode_count'] }}</a></td>
                    <td>{{ other_speaker_aggs['scene_count'] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<p>&nbsp;</p>
		
    </div>
{% endblock %} 