{% extends "base.html" %}

{% block title %} 
	<title>{{ tdata['show_key'] }}: {{ tdata['speaker'] }}</title>
{% endblock %} 

{% block content %} 
	<div class="margin">
        <h3><strong>{{ tdata['speaker'] }}</strong> character page</h3>
        <h5>{{ tdata['episode_count'] }} episodes, {{ tdata['scene_count'] }} scenes, {{ tdata['scene_event_count'] }} lines, {{ tdata['word_count'] }} words</h5>
		<p>&nbsp;</p>

        <!-- begin statistics frames -->
        <div class="row">
            <div class="col-5">
                <h3>{{ tdata['episode_count'] }} episodes with {{ tdata['speaker'] }}</h3></h3>
                <div class="overflow-scroll" style="max-height: 600px;">
					<table class="table table-hover table-striped table-fit">
						<thead>
							<tr class="table-success">
								<th scope="col">Title</th>
								<th scope="col">Season</th>
								<th scope="col">Episode</th>
								<th scope="col">Air date</th>
								<th scope="col">Score</th>
							</tr>
						</thead>
						<tbody>
							{% for episode in tdata['episodes'] %}
							<tr class="table-light">
								<th scope="row"><a href="/web/episode/{{ episode['show_key'] }}/{{ episode['episode_key'] }}">{{ episode['title'] }}</a></th>
								<td>{{ episode['season'] }}</td>
								<td>{{ episode['sequence_in_season'] }}</td>
								<td>{{ episode['air_date'] }}</td>
								<td>{{ '%0.2f'|format(episode['agg_score']|float) }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
            </div>
			<div class="col-3">
                <h3>Where is {{ tdata['speaker'] }}?</h3>
                <div class="overflow-scroll" style="max-height: 600px;">
                    <table class="table table-hover table-striped table-fit">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">Location</th>
                                <th scope="col">Scenes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for location, count in tdata['location_counts'].items() %}
                            <tr class="table-secondary">
                                <th scope="row">{{ location }}</th>
                                <td><a href="
                                    {% if location == 'TOTAL' %}
                                        /web/episode_search/{{ tdata['show_key'] }}?speaker={{ tdata['speaker'] }}&search_type=advanced
                                    {% else %}
                                        /web/episode_search/{{ tdata['show_key'] }}?speaker={{ tdata['speaker'] }}&location={{ location }}&search_type=advanced
                                    {% endif %}
                                        " class="alert-link" >{{ count }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-3">
                <h3>Who is {{ tdata['speaker'] }} with?</h3>
                <div class="overflow-scroll" style="max-height: 600px;">
                    <table class="table table-hover table-striped table-fit">
                        <thead>
                            <tr class="table-success">
                                <th scope="col">Character</th>
                                <th scope="col">Episodes</th>
                                <th scope="col">Scenes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for other_speaker_aggs in tdata['other_speaker_agg_composite'] %}
                            <tr class="table-secondary">
                                <th scope="row"><a class="alert-link" href="/web/character/{{ tdata['show_key'] }}/{{ other_speaker_aggs['other_speaker'] }}">{{ other_speaker_aggs['other_speaker'] }}</a></th>
                                <td><a href="/web/episode_search/{{ tdata['show_key'] }}?speakers={{ tdata['speaker'] }},{{ other_speaker_aggs['other_speaker'] }}&search_type=advanced_multi_speaker" 
                                        class="alert-link" >{{ other_speaker_aggs['episode_count'] }}</a></td>
                                <td>{{ other_speaker_aggs['scene_count'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <!-- end statistics frames -->

        <!-- begin character-centric search form -->
		<h3>{{ tdata['speaker'] }}-affiliated search</h3>
		<br/>
		<form action="/web/character/{{ tdata['show_key'] }}/{{ tdata['speaker'] }}" method="GET">
            <!-- https://getbootstrap.com/docs/5.0/components/navs-tabs/#javascript-behavior -->
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link{% if tdata['search_type']=='' or tdata['search_type']=='advanced' %} active{% endif %}" id="nav-advanced-tab" 
							data-bs-toggle="tab" data-bs-target="#nav-advanced" type="button" role="tab" aria-controls="nav-advanced" aria-selected="false">
                        Dialog search
                    </button>
                    <button class="nav-link{% if tdata['search_type']=='advanced_multi_speaker' %} active{% endif %}" id="nav-advanced-multi-character-tab" 
							data-bs-toggle="tab" data-bs-target="#nav-advanced-multi-character" type="button" role="tab" aria-controls="nav-advanced-multi-character" aria-selected="false">
                        Multi-character search
                    </button>
                </div>
            </nav>
            <br/>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade{% if tdata['search_type']=='' or tdata['search_type']=='advanced' %} show active{% endif %}" id="nav-advanced" role="tabpanel" aria-labelledby="nav-advanced-tab">
                    <div class="col-8">
                        <div class="row input-group">
                            <div class="col-2">
                                <label class="col-form-label">By dialogue:</label>
                            </div>
                            <div class="col-6"> 
                                <input type="text" class="form-control" name="dialog" value="{{ tdata['dialog'] }}" id="dialogInput">
                            </div>
                        </div>                        
                        <div class="row input-group">
                            <div class="col-2">
                                <label class="col-form-label">By location:</label>
                            </div>
                            <div class="col-6"> 
                                <input type="text" class="form-control" name="location" value="{{ tdata['location'] }}" id="locationInput">
                            </div>
                        </div>
                        <br/>
                        <div class="row input-group">
                            <div class="col-8">
                                <button type="submit" class="btn btn-primary" name="search_type" value="advanced">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade{% if tdata['search_type']=='advanced_multi_speaker' %} show active{% endif %}" id="nav-advanced-multi-character" role="tabpanel" aria-labelledby="nav-advanced-multi-character-tab">
                    <div class="col-8">
                        <div class="row input-group">
                            <div class="col-2">
                                <label class="col-form-label">By other character(s):</label>
                            </div>
                            <div class="col-6"> 
                                <input type="text" class="form-control" name="speakers" value="{{ tdata['speakers'] }}" id="speakersInput">
                            </div>
                        </div>                              
                        <div class="row input-group">
                            <div class="col-2">
                                <label class="col-form-label">By location:</label>
                            </div>
                            <div class="col-6"> 
                                <input type="text" class="form-control" name="locationAMS" value="{{ tdata['locationAMS'] }}" id="locationAMSInput">
                            </div>
                        </div>
                        <br/>
                        <div class="row input-group">
                            <div class="col-8">
                                <button type="submit" class="btn btn-primary" name="search_type" value="advanced_multi_speaker">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </form>
        <br/>
		<!-- end in-episode search form -->

        {% if tdata['search_type'] != '' %}
            <!-- begin search result count summary -->
            <h3><strong>{{ tdata['episode_match_count'] }}</strong> episodes / 
                <strong>{{ tdata['scene_match_count'] }}</strong> scenes / 
                <strong>{{ tdata['scene_event_match_count'] }}</strong> lines matching <strong class="gold">"{{ tdata['speaker'] }}"</strong>
                {% if tdata['search_type'] == 'advanced' %}
                    {% if tdata['dialog'] %} + dialogue: <strong class="gold">"{{ tdata['dialog'] }}"</strong>{% endif %}
                    {% if tdata['location'] %} + location: <strong class="gold">"{{ tdata['location'] }}"</strong>{% endif %}
                {% endif %}
                {% if tdata['search_type'] == 'advanced_multi_speaker' %}
                    {% if tdata['speakers'] %} + other characters: <strong class="gold">"{{ tdata['speakers'] }}"</strong>{% endif %}
                    {% if tdata['locationAMS'] %} + location: <strong class="gold">"{{ tdata['locationAMS'] }}"</strong>{% endif %}
                {% endif %}
                {% if tdata['season'] %}, Season <strong>{{ tdata['season'] }}</strong>{% endif %}
            </h3>
            <p>&nbsp;</p>
            <!-- end search result count summary -->

            <!-- begin display search results -->
            {% for episode in tdata['episode_matches'] %}
            <div class="card text-white bg-success mb-3 w-75">
                <div class="card-header">Season {{ episode['season'] }}, Episode {{ episode['sequence_in_season'] }} ({{ episode['air_date'] }})</div>
                <div class="card-body">
                    <h5 class="card-title">
                        <button type="button" class="btn btn-primary">{{ '%0.2f'|format(episode['agg_score']|float) }}</button>&nbsp;&nbsp;
                        <a class="alert-link" href="/web/episode/{{ episode['show_key'] }}/{{ episode['episode_key'] }}">{{ episode['title']|safe }}</a> 
                    </h5>
                    <div class="overflow-scroll" style="max-height: 300px;">
                    {% for scene in episode['scenes'] %}
                        <hr>
                        <p>[scene {{ scene['sequence'] }}] <strong>{{ scene['location']|safe }}</strong></p>
                        <p><small>
                        {% for scene_event in scene['scene_events'] %}
                            [line {{ scene_event['sequence'] }}] 
                            {% if scene_event['context_info'] %}
                                [{{ scene_event['context_info']|safe }}] 
                            {% endif %}
                            {% if scene_event['spoken_by'] %}
                                <strong>{{ scene_event['spoken_by']|safe }}</strong>: {{ scene_event['dialog']|safe }}
                            {% endif %}
                            <br/>
                        {% endfor %}
                        </small></p>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- end display search results -->
        {% endif %}
        
		
    </div>
{% endblock %} 