{% extends "base.html" %}

{% block title %} 
	<title>{{ tdata['show_key'] }}: {{ tdata['episode']['title'] }}</title>
{% endblock %} 

{% block content %} 
	<div class="margin">
        <br/>

        <!-- begin character search form -->
        <form action="/web/character_listing/{{ tdata['show_key'] }}" method="GET">
            <div class="col-10">
                <div class="row input-group">
                    <div class="col-2">
                        <label class="col-form-label">Find character:</label>
                    </div>
                    <div class="col-4"> 
                        <input type="text" class="form-control" name="qt" value="{{ tdata['qt'] }}" id="qtInput">
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </form>
        <p>&nbsp;</p>
        <!-- end episode search form -->


        {% if tdata['qt'] %}
        <h3><strong>{{ tdata['speaker_matches']|length }}</strong> characters matching <strong class="gold">"{{ tdata['qt'] }}"</strong>:</h3>
        <p>&nbsp;</p>
        {% endif %}


        {% if tdata['speaker_matches'] %}
        <table class="table table-hover table-striped table-fit">
			<thead>
				<tr class="table-success">
					<th scope="col">Character</th>
                    <th scope="col">Seasons</th>
                    <th scope="col">Episodes</th>
					<th scope="col">Scenes</th>
					<th scope="col">Lines</th>
					<th scope="col">Words</th>
			  	</tr>
			</thead>
			<tbody>
				{% for speaker in tdata['speaker_matches'] %}
				<tr class="table-secondary">
                    <th scope="row">
                        <a class="alert-link" href="/web/character/{{ tdata['show_key'] }}/{{ speaker['speaker'] }}">{{ speaker['speaker'] }}</a>
                    </th>
                    <td>...</td>
                    <td><a href="/web/episode_search/{{ tdata['show_key'] }}?speaker={{ speaker['speaker'] }}&search_type=advanced" 
                                class="alert-link" >{{ speaker['episode_count'] }}</a>
                    </td>
					<td>{{ speaker['scene_count'] }}</td>
					<td>{{ speaker['line_count'] }}</td>
					<td>{{ speaker['word_count'] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
        <p>&nbsp;</p>
        {% endif %}


		<h3>All {{ tdata['show_key'] }} characters</h3>
		<table class="table table-hover table-striped table-fit">
			<thead>
				<tr class="table-success">
					<th scope="col">Character</th>
                    <th scope="col">Seasons</th>
                    <th scope="col">Episodes</th>
					<th scope="col">Scenes</th>
					<th scope="col">Lines</th>
					<th scope="col">Words</th>
			  	</tr>
			</thead>
			<tbody>
				{% for speaker in tdata['speaker_counts'] %}
				<tr class="table-secondary">
                    <th scope="row">
                        {% if speaker['speaker'] == '_ALL_' %}
                            [COMBINED]
                        {% else %}
                            <a class="alert-link" href="/web/character/{{ tdata['show_key'] }}/{{ speaker['speaker'] }}">{{ speaker['speaker'] }}</a>
                        {% endif %}
                    </th>
                    <td>...</td>
                    <td>
                        {% if speaker['speaker'] == '_ALL_' %}
                            {{ speaker['episode_count'] }}
                        {% else %}
                            <a href="/web/episode_search/{{ tdata['show_key'] }}?speaker={{ speaker['speaker'] }}&search_type=advanced" 
                                class="alert-link" >{{ speaker['episode_count'] }}</a>
                        {% endif %}
                    </td>
					<td>{{ speaker['scene_count'] }}</td>
					<td>{{ speaker['line_count'] }}</td>
					<td>{{ speaker['word_count'] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<p>&nbsp;</p>

	</div>
{% endblock %} 