{% extends "base.html" %}

{% block title %} 
    <title>{{ tdata['show_key'] }} episode search</title>
{% endblock %} 

{% block content %} 
	<div class="container">
        <br/>
        <form action="/web/episode_search/TNG" method="GET">
            <input type="hidden" class="form-control" name="show_key" value="{{ tdata['show_key'] }}" id="searchInput">
            <!-- https://getbootstrap.com/docs/5.0/components/navs-tabs/#javascript-behavior -->
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link{% if tdata['search_type']=='general' %} active{% endif %}" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                        Keyword search
                    </button>
                    <button class="nav-link{% if tdata['search_type']=='advanced' %} active{% endif %}" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                        Advanced search
                    </button>
                    <button class="nav-link{% if tdata['search_type']=='advanced_multi_speaker' %} active{% endif %}" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">
                        Multi-character search
                    </button>
                </div>
            </nav>
            <br/>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade{% if tdata['search_type']=='general' %} show active{% endif %}" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="col-10">
                        <div class="row input-group">
                            <div class="col-3">
                                <label class="col-form-label">Find episodes containing:</label>
                            </div>
                            <div class="col-5"> 
                                <input type="text" class="form-control" name="qt" value="{{ tdata['qt'] }}" id="qtInput">
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary" name="search_type" value="general">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade{% if tdata['search_type']=='advanced' %} show active{% endif %}" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="col-8">
                        <div class="row input-group">
                            <div class="col-2">
                                <label class="col-form-label">By character:</label>
                            </div>
                            <div class="col-6"> 
                                <input type="text" class="form-control" name="speaker" value="{{ tdata['speaker'] }}" id="speakerInput">
                            </div>
                        </div>                              
                        <div class="row input-group">
                            <div class="col-2">
                                <label class="col-form-label">By location:</label>
                            </div>
                            <div class="col-6"> 
                                <input type="text" class="form-control" name="location" value="{{ tdata['location'] }}" id="locationInput">
                            </div>
                        </div>
                        <div class="row input-group">
                            <div class="col-2">
                                <label class="col-form-label">By dialogue:</label>
                            </div>
                            <div class="col-6"> 
                                <input type="text" class="form-control" name="dialog" value="{{ tdata['dialog'] }}" id="dialogInput">
                            </div>
                        </div>
                        <br/>
                        <div class="row input-group">
                            <div class="col-8">
                                <button type="submit" class="btn btn-primary" name="search_type" value="advanced">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade{% if tdata['search_type']=='advanced_multi_speaker' %} show active{% endif %}" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="col-8">
                        <div class="row input-group">
                            <div class="col-2">
                                <label class="col-form-label">By characters:</label>
                            </div>
                            <div class="col-6"> 
                                <input type="text" class="form-control" name="speakers" value="{{ tdata['speakers'] }}" id="speakersInput">
                            </div>
                        </div>                              
                        <div class="row input-group">
                            <div class="col-2">
                                <label class="col-form-label">By location:</label>
                            </div>
                            <div class="col-6"> 
                                <input type="text" class="form-control" name="locationAMS" value="{{ tdata['locationAMS'] }}" id="locationInputAMS">
                            </div>
                        </div>
                        <br/>
                        <div class="row input-group">
                            <div class="col-8">
                                <button type="submit" class="btn btn-primary" name="search_type" value="advanced_multi_speaker">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </form>
        <br/>
        {% if tdata['qt'] %}
		<h3><strong>{{ tdata['episode_match_count'] }}</strong> matches for query: <strong class="gold">"{{ tdata['qt'] }}"</strong>
            {% if tdata['season'] %}, Season <strong>{{ tdata['season'] }}</strong>{% endif %}
        </h3>
        {% endif %}
		<p>&nbsp;</p>

        {% for episode in tdata['episode_matches'] %}
        <div class="card text-white bg-success mb-3 w-75">
            <div class="card-header">Season {{ episode['season'] }}, Episode {{ episode['sequence_in_season'] }} ({{ episode['air_date'] }})</div>
            <div class="card-body">
                <h5 class="card-title">
                    <button type="button" class="btn btn-primary">{{ '%0.2f'|format(episode['agg_score']|float) }}</button>&nbsp;&nbsp;
                    <a class="alert-link" href="/web/episode/{{ episode['show_key'] }}/{{ episode['episode_key'] }}">{{ episode['title']|safe }}</a> 
                </h5>
                <div class="overflow-scroll" style="max-height: 300px;">
                {% for scene in episode['scenes'] %}
                    <hr>
                    <p>[scene {{ scene['sequence'] }}] <strong>{{ scene['location']|safe }}</strong></p>
                    <p><small>
                    {% for scene_event in scene['scene_events'] %}
                        [line {{ scene_event['sequence'] }}] 
                        {% if scene_event['context_info'] %}
                            [{{ scene_event['context_info']|safe }}] 
                        {% endif %}
                        {% if scene_event['spoken_by'] %}
                            <strong>{{ scene_event['spoken_by']|safe }}</strong>: {{ scene_event['dialog']|safe }}
                        {% endif %}
                        <br/>
                    {% endfor %}
                    </small></p>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}

	</div>
{% endblock %} 