{% extends "base.html" %}

{% block title %} 
	<title>{{ tdata['show_key'] }}: {{ tdata['episode']['title'] }}</title>
{% endblock %} 

{% block content %} 
	<div class="margin">
		<h3>Season {{ tdata['episode']['season'] }}, Episode {{ tdata['episode']['sequence_in_season'] }}: 
			<strong>"{{ tdata['episode']['title'] }}"</strong> <small>({{ tdata['episode']['air_date'] }})</small>
		</h3>
		<p>&lt;&lt;&nbsp; Previous episode &nbsp;|&nbsp; Next episode &nbsp;&gt;&gt;</p>
		<p>&nbsp;</p>

		<!-- begin statistics frames -->
		<div class="row">
			<div class="col-2">
				<h3>Locations</h3>
				<div class="overflow-scroll" style="max-height: 600px;">
					<table class="table table-hover table-striped table-fit">
						<thead>
							<tr class="table-primary">
								<th scope="col">Location</th>
								<th scope="col">Scenes</th>
							</tr>
						</thead>
						<tbody>
							{% for location, count in tdata['locations_by_scene'].items() %}
							<tr class="table-secondary">
								<th scope="row">{{ location }}</th>
								<td>
								{% if location == 'TOTAL' %}
									<strong>{{ count }}</strong>
								{% else %}
									<a href="/web/episode/{{ tdata['show_key'] }}/{{ tdata['episode_key'] }}/?location={{ location }}&search_type=advanced" 
										class="alert-link" >{{ count }}</a>
								{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-3">
				<h3>Characters</h3>
				<div class="overflow-scroll" style="max-height: 600px;">
					<table class="table table-hover table-striped table-fit">
						<thead>
							<tr class="table-success">
								<th scope="col">Speaker</th>
								<th scope="col">Scenes</th>
								<th scope="col">Lines</th>
								<th scope="col">Words</th>
							</tr>
						</thead>
						<tbody>
						{% for speaker in tdata['speaker_counts'] %}
							<tr class="table-secondary">
							{% if speaker['speaker'] == '_ALL_' %}
								<th scope="row">[ALL]</th>
								<td><strong>{{ speaker['scene_count'] }}</strong></td>
								<td><strong>{{ speaker['line_count'] }}</strong></td>
								<td><strong>{{ speaker['word_count'] }}</strong></td>
							{% else %}
								<th scope="row">
									<a href="/web/character/{{ tdata['show_key'] }}/{{ speaker['speaker'] }}" 
										class="alert-link" >{{ speaker['speaker'] }}</a></th>
								<td><a href="/web/episode/{{ tdata['show_key'] }}/{{ tdata['episode_key'] }}/?speaker={{ speaker['speaker'] }}&search_type=advanced" 
										class="alert-link" >{{ speaker['scene_count'] }}</a></td>
								<td><a href="/web/episode/{{ tdata['show_key'] }}/{{ tdata['episode_key'] }}/?speaker={{ speaker['speaker'] }}&search_type=advanced" 
									class="alert-link" >{{ speaker['line_count'] }}</a></td>
								<td>{{ speaker['word_count'] }}</td>
							{% endif %}
							</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-2">
				<h3>Keywords</h3>
				<div class="overflow-scroll" style="max-height: 600px;">
					<table class="table table-hover table-striped table-fit">
						<thead>
							<tr class="table-primary">
								<th scope="col">Term</th>
								<th scope="col">Score</th>
							</tr>
						</thead>
						<tbody>
							{% for keyword in tdata['keywords'] %}
							<tr class="table-secondary">
								<th scope="row">{{  keyword['term'] }}</th>
								<td>{{ keyword['score'] }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-5">
				<h3>Similar episodes</h3>
				<div class="overflow-scroll" style="max-height: 600px;">
					<table class="table table-hover table-striped table-fit">
						<thead>
							<tr class="table-success">
								<th scope="col">Title</th>
								<th scope="col">Season</th>
								<th scope="col">Episode</th>
								<th scope="col">Air date</th>
								<th scope="col">Score</th>
							</tr>
						</thead>
						<tbody>
							{% for sim_ep in tdata['similar_episodes'] %}
							<tr class="table-light">
								<th scope="row"><a href="/web/episode/{{ sim_ep['show_key'] }}/{{ sim_ep['episode_key'] }}">{{ sim_ep['title'] }}</a></th>
								<td>{{ sim_ep['season'] }}</td>
								<td>{{ sim_ep['sequence_in_season'] }}</td>
								<td>{{ sim_ep['air_date'] }}</td>
								<td>{{ sim_ep['score'] }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<p>&nbsp;</p>
		<!-- end statistics frames -->

		<!-- begin in-episode search form -->
		<h3>In-episode search</h3>
		<br/>
		<form action="/web/episode/{{ tdata['show_key'] }}/{{ tdata['episode_key'] }}" method="GET">
            <!-- https://getbootstrap.com/docs/5.0/components/navs-tabs/#javascript-behavior -->
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link{% if tdata['search_type']=='' or tdata['search_type']=='general' %} active{% endif %}" id="nav-general-tab" 
							data-bs-toggle="tab" data-bs-target="#nav-general" type="button" role="tab" aria-controls="nav-general" aria-selected="true">
                        Keyword search
                    </button>
                    <button class="nav-link{% if tdata['search_type']=='advanced' %} active{% endif %}" id="nav-advanced-tab" 
							data-bs-toggle="tab" data-bs-target="#nav-advanced" type="button" role="tab" aria-controls="nav-advanced" aria-selected="false">
                        Filter search
                    </button>
                    <button class="nav-link{% if tdata['search_type']=='advanced_multi_speaker' %} active{% endif %}" id="nav-advanced-multi-character-tab" 
							data-bs-toggle="tab" data-bs-target="#nav-advanced-multi-character" type="button" role="tab" aria-controls="nav-advanced-multi-character" aria-selected="false">
                        Multi-character search
                    </button>
					<button class="nav-link" id="nav-reset-tab" href="/web/episode/{{ tdata['show_key'] }}/{{ tdata['episode_key'] }}">
                        Clear search/reload transcript
                    </button>
                </div>
            </nav>
            <br/>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade{% if tdata['search_type']=='' or tdata['search_type']=='general' %} show active{% endif %}" id="nav-general" role="tabpanel" aria-labelledby="nav-general-tab">
                    <div class="col-9">
                        <div class="row input-group">
                            <div class="col-2">
                                <label class="col-form-label">Find lines containing:</label>
                            </div>
                            <div class="col-5"> 
                                <input type="text" class="form-control" name="qt" value="{{ tdata['qt'] }}" id="qtInput">
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary" name="search_type" value="general">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade{% if tdata['search_type']=='advanced' %} show active{% endif %}" id="nav-advanced" role="tabpanel" aria-labelledby="nav-advanced-tab">
                    <div class="col-8">
                        <div class="row input-group">
                            <div class="col-2">
                                <label class="col-form-label">By character:</label>
                            </div>
                            <div class="col-6"> 
                                <input type="text" class="form-control" name="speaker" value="{{ tdata['speaker'] }}" id="speakerInput">
                            </div>
                        </div>
						<div class="row input-group">
                            <div class="col-2">
                                <label class="col-form-label">By dialogue:</label>
                            </div>
                            <div class="col-6"> 
                                <input type="text" class="form-control" name="dialog" value="{{ tdata['dialog'] }}" id="dialogInput">
                            </div>
                        </div>                        
                        <div class="row input-group">
                            <div class="col-2">
                                <label class="col-form-label">By location:</label>
                            </div>
                            <div class="col-6"> 
                                <input type="text" class="form-control" name="location" value="{{ tdata['location'] }}" id="locationInput">
                            </div>
                        </div>
                        <br/>
                        <div class="row input-group">
                            <div class="col-8">
                                <button type="submit" class="btn btn-primary" name="search_type" value="advanced">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade{% if tdata['search_type']=='advanced_multi_speaker' %} show active{% endif %}" id="nav-advanced-multi-character" role="tabpanel" aria-labelledby="nav-advanced-multi-character-tab">
                    <div class="col-8">
                        <div class="row input-group">
                            <div class="col-2">
                                <label class="col-form-label">By characters:</label>
                            </div>
                            <div class="col-6"> 
                                <input type="text" class="form-control" name="speakers" value="{{ tdata['speakers'] }}" id="speakersInput">
                            </div>
                        </div>                              
                        <div class="row input-group">
                            <div class="col-2">
                                <label class="col-form-label">By location:</label>
                            </div>
                            <div class="col-6"> 
                                <input type="text" class="form-control" name="locationAMS" value="{{ tdata['locationAMS'] }}" id="locationAMSInput">
                            </div>
                        </div>
                        <br/>
                        <div class="row input-group">
                            <div class="col-8">
                                <button type="submit" class="btn btn-primary" name="search_type" value="advanced_multi_speaker">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
        </form>
        <br/>
		<!-- end in-episode search form -->

		<!-- begin search result count summary -->
		{% if tdata['search_type'] != '' %}
			<h3><strong>{{ tdata['scene_match_count'] }}</strong> scenes / 
				<strong>{{ tdata['scene_event_match_count'] }}</strong> lines matching 
        	{% if tdata['search_type'] == 'general' %}
				query: <strong class="gold">"{{ tdata['qt'] }}"</strong>
			{% endif %}
            {% if tdata['search_type'] == 'advanced' %}
            	{% if tdata['speaker'] %} character: <strong class="gold">"{{ tdata['speaker'] }}"</strong>{% endif %}
            	{% if tdata['dialog'] %} dialogue: <strong class="gold">"{{ tdata['dialog'] }}"</strong>{% endif %}
            	{% if tdata['location'] %} location: <strong class="gold">"{{ tdata['location'] }}"</strong>{% endif %}
            	{% if tdata['season'] %}, Season <strong>{{ tdata['season'] }}</strong>{% endif %}
        	{% endif %}
        	{% if tdata['search_type'] == 'advanced_multi_speaker' %}
            	{% if tdata['speakers'] %} characters: <strong class="gold">"{{ tdata['speakers'] }}"</strong>{% endif %}
            	{% if tdata['locationAMS'] %} location: <strong class="gold">"{{ tdata['locationAMS'] }}"</strong>{% endif %}
			{% endif %}
            {% if tdata['season'] %}, Season <strong>{{ tdata['season'] }}</strong>{% endif %}
        	</h3>
        {% endif %}
		<p>&nbsp;</p>
		<!-- end search result count summary -->

		<!-- begin subset of transcript matching search query -->
		{% if tdata['search_type'] != '' %}
			{% if tdata['episode_match'] and tdata['episode_match']['scenes'] %}
			<div class="card text-white bg-success mb-3 w-75">
				<div class="card-body">
				{% for scene in tdata['episode_match']['scenes'] %}
					<hr>
					<p>[scene {{ scene['sequence'] }}] <strong>{{ scene['location']|safe }}</strong></p>
					<p><small>
					{% for scene_event in scene['scene_events'] %}
						[line {{ scene_event['sequence'] }}] 
						{% if scene_event['context_info'] %}
							[{{ scene_event['context_info']|safe }}] 
						{% endif %}
						{% if scene_event['spoken_by'] %}
							<strong>{{ scene_event['spoken_by']|safe }}</strong>: {{ scene_event['dialog']|safe }}
						{% endif %}
						<br/>
					{% endfor %}
					</small></p>
				{% endfor %}
				</div>
			</div>
			{% endif %}
		<!-- end subset of transcript matching search query -->
		{% else %}
		<!-- begin full transcript display -->
			<h3><strong>{{ tdata['episode']['scene_count'] }}</strong> scenes / 
				<strong>{{ tdata['speaker_counts'][0]['line_count'] }}</strong> lines /
				<strong>{{ tdata['speaker_counts'][0]['word_count'] }}</strong> words
			</h3>
			<p>&nbsp;</p>
			{% for scene in tdata['episode']['scenes'] %}
			<div class="card text-white bg-success mb-3 w-75">
				<div class="card-header">{{ scene['location'] }}</div>
				<div class="card-body">
					{% for scene_event in scene['scene_events'] %}
					<p>
						{% if scene_event['context_info'] %}
							[{{ scene_event['context_info']|safe }}] 
						{% endif %}
						{% if scene_event['spoken_by'] %}
							<strong>{{ scene_event['spoken_by']|safe }}</strong>: {{ scene_event['dialog']|safe }}
						{% endif %}
					</p>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
		{% endif %}
		<!-- end full transcript display -->

	</div>
{% endblock %} 