{% extends "base.html" %}

{% block title %} 
	<title>{{ tdata['show_key'] }}: {{ tdata['episode']['title'] }}</title>
    
{% endblock %} 

{% block content %} 
	<div class="margin">
        <h3><strong>{{ tdata['show_key'] }}</strong> show page</h3>
		<p>&nbsp;</p>

        <div class="row">
            <div class="col-12">
                <h3>Seasons</h3>

                <!-- <div class="container shadow min-vh-100 py-2"> -->
                <div class="table-responsive"> 
                    <!-- https://stackoverflow.com/questions/68951263/how-to-make-accordion-table-with-bootstrap-5 -->
                    <table class="table accordion">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">&nbsp;</th>
                                <th scope="col">Season</th>
                                <th scope="col">Episodes</th>
                                <th scope="col">Dates</th>
                                <th scope="col">Total scenes</th>
                                <th scope="col">Total lines</th>
                                <th scope="col">Total words</th>
                                <th scope="col">Distinct characters</th>
                                <th scope="col">Distinct locations</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for season, season_stats in tdata['stats_by_season'].items() %}
                            <tr class="table-secondary" data-bs-toggle="collapse" data-bs-target="#expandSeason{{ season }}">
                                <td>[+]</td>
                                <td>{{ season }}</td>
                                <td>{{ tdata['episodes_by_season'][season]|length }}</td>
                                <td>{{ season_stats['air_date_range'] }}</td>
                                <td>{{ season_stats['scene_count'] }}</td>
                                <td>{{ season_stats['line_count'] }}</td>
                                <td>{{ season_stats['word_count'] }}</td>
                                <td>{{ season_stats['speaker_count'] }}</td>
                                <td>{{ season_stats['location_count'] }}</td>
                            </tr>
                            <tr class="collapse accordion-collapse" id="expandSeason{{ season }}" data-bs-parent=".table">
                                <td colspan="9">
                                    <div class="overflow-scroll" style="max-height: 500px;">
                                        <div class="row">                                     
                                            <div class="col-8">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr class="table-success">
                                                            <th scope="col">Episode</th>
                                                            <th scope="col">Title</th>
                                                            <th scope="col">Air date</th>
                                                            <th scope="col">Focal characters</th>
                                                            <th scope="col">Focal locations</th>
                                                            <th scope="col">Scenes</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for episode in tdata['episodes_by_season'][season] %}
                                                        <tr class="table-secondary">
                                                            <th scope="row">{{ episode['sequence_in_season'] }}</th>
                                                            <td>
                                                                <a class="alert-link" href="/web/episode/{{ tdata['show_key'] }}/{{ episode['episode_key'] }}">{{ episode['title'] }}</a>
                                                            </td>
                                                            <td>{{ episode['air_date']|truncate(10,true,'') }}</td>
                                                            <td>{{ episode['focal_speakers']|join(', ') }}</td>
                                                            <td>{{ episode['focal_locations']|join(', ')|truncate(50,true) }}</td>
                                                            <td>{{ episode['scene_count'] }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>                                          
                                            </div>
                                            <div class="col-2">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr class="table-success">
                                                            <th scope="col">Recurring character</th>
                                                            <th scope="col">Total lines</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for speaker, count in tdata['stats_by_season'][season]['speaker_line_counts'].items() %}
                                                        <tr class="table-secondary">
                                                            <th scope="row">{{ speaker }}</th>
                                                            <td>{{ count }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-2">
                                                <table class="table table-hover table-striped">
                                                    <thead>
                                                        <tr class="table-success">
                                                            <th scope="col">Recurring location</th>
                                                            <th scope="col">Total scenes</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for location, count in tdata['stats_by_season'][season]['location_counts'].items() %}
                                                        <tr class="table-secondary">
                                                            <th scope="row">{{ location }}</th>
                                                            <td>{{ count }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- </div> -->
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-4">
                <h3>ML playground: KMeans</h3>
                <ul>
                    <li><a href="/tsp_dash">Plotly</a> - interactive</li>
                    <li>Matplotlib - select # clusters: <a href="/web/graph/{{ tdata['show_key'] }}?num_clusters=2">2</a> <a href="/web/graph/{{ tdata['show_key'] }}?num_clusters=3">3</a> 
                        <a href="/web/graph/{{ tdata['show_key'] }}?num_clusters=4">4</a> <a href="/web/graph/{{ tdata['show_key'] }}?num_clusters=5">5</a> 
                        <a href="/web/graph/{{ tdata['show_key'] }}?num_clusters=6">6</a> <a href="/web/graph/{{ tdata['show_key'] }}?num_clusters=7">7</a> 
                        <a href="/web/graph/{{ tdata['show_key'] }}?num_clusters=8">8</a> <a href="/web/graph/{{ tdata['show_key'] }}?num_clusters=9">9</a> 
                        <a href="/web/graph/{{ tdata['show_key'] }}?num_clusters=10">10</a>
                    </li>
                </ul>
            </div>
        </div>
        <br/>

        <div class="row">
            <div class="col-4">
                <h3>Characters</h3>
                <div class="overflow-scroll" style="max-height: 1000px;">
                    <table class="table table-hover table-striped table-fit">
                        <thead>
                            <tr class="table-success">
                                <th scope="col">Character</th>
                                <th scope="col">Seasons</th>
                                <th scope="col">Episodes</th>
                                <th scope="col">Scenes</th>
                                <th scope="col">Lines</th>
                                <th scope="col">Words</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for speaker in tdata['speaker_counts'] %}
                            <tr class="table-secondary">
                                <th scope="row">
                                    {% if speaker['speaker'] == '_ALL_' %}
                                        [COMBINED]
                                    {% else %}
                                        <a class="alert-link" href="/web/character/{{ tdata['show_key'] }}/{{ speaker['speaker'] }}">{{ speaker['speaker'] }}</a>
                                    {% endif %}
                                </th>
                                <td>{{ speaker['season_count'] }}</td>
                                <td>
                                    {% if speaker['speaker'] == '_ALL_' %}
                                        {{ speaker['episode_count'] }}
                                    {% else %}
                                        <a href="/web/episode_search/{{ tdata['show_key'] }}?speaker={{ speaker['speaker'] }}&search_type=advanced" 
                                            class="alert-link" >{{ speaker['episode_count'] }}</a>
                                    {% endif %}
                                </td>
                                <td>{{ speaker['scene_count'] }}</td>
                                <td>{{ speaker['line_count'] }}</td>
                                <td>{{ speaker['word_count'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
			<div class="col-4">
                <h3>Locations</h3>
                <div class="overflow-scroll" style="max-height: 1000px;">
                    <table class="table table-hover table-striped table-fit">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">Location</th>
                                <th scope="col">Seasons</th>
                                <th scope="col">Episodes</th>
                                <th scope="col">Scenes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for location in tdata['location_counts'] %}
                            <tr class="table-secondary">
                                <th scope="row">{{ location['location'] }}</th>
                                <td>{{ location['season_count'] }}</td>
                                <td>{{ location['episode_count'] }}</td>
                                <td>{{ location['scene_count'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-4">
                <h3>Keywords</h3>
                <div class="overflow-scroll" style="max-height: 1000px;">
                    <table class="table table-hover table-striped table-fit">
                        <thead>
                            <tr class="table-success">
                                <th scope="col">Term</th>
                                <th scope="col">Total freq</th>
                                <th scope="col">Episodes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for keyword in tdata['keywords'] %}
                            <tr class="table-secondary">
                                <th scope="row">{{  keyword['term'] }}</th>
                                <td>{{ keyword['ttf'] }}</td>
                                <td>{{ keyword['doc_freq'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

	</div>
{% endblock %} 